$light: #FFF;
$primary: #42b983;
$secondary: #85909d;
$danger: #ee5252;

.button {
    background: #42b983;
    color: white;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    padding: .5rem 1rem;
}

.button:hover {
    background: lighten(#42b983, 5);
}

.button:active {
    background: darken(#42b983, 5);
}

@mixin button-color($bg-color, $font-color, $color-name) {
    .#{$color-name} {
        background: $bg-color !important;
        color: $font-color;

        &:hover:not(:disabled) {
            background: lighten($bg-color, 5) !important;
        }
        &:active:not(:disabled) {
            background: darken($bg-color, 5) !important;
        }
        &:disabled {
            cursor: auto;
            opacity: .5;
        }
    }
}

@include button-color($primary, $light, 'primary');
@include button-color($secondary, $light, 'secondary');
@include button-color($danger, $light, 'danger');
