textarea.form-control {
  padding: .4rem .8rem;
  resize: vertical;
  border: 1px solid lightgray;
  border-radius: 4px;
  transition: border-color .2s;
  outline: none;
}

textarea.form-control:focus, input.form-control:focus {
  border: 1px solid #42b983;
}

input.form-control {
  padding: .4rem .8rem;
  border: 1px solid lightgray;
  border-radius: 4px;
  transition: border-color .2s;
  outline: none;
}
